.navbar {
  width: 100%;
  background-color: #2e3440;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  font: 18px system-ui;
  color: #eceff4;
  font-weight: bold;
  width: 140px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.navbarRight {
  list-style: none;
  align-items: right;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.masthead {
  width: 400px;
  height: 190px;
  margin-top: 70px;
  font-family: "IBM Plex Sans";
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}

.subtitle {
  width: 350px;
  height: 80px;
  font: 18px "IBM Plex Sans", sans-serif;
  text-align: center;
  margin-bottom: 180px;
}

.auth {
  display: flex;
  gap: 130px;
  justify-content: center;
}

.bodyLogin {
  font: 24px "IBM Plex Sans", sans-serif;
  color: #2e3440;
  border: none;
  font-weight: bold;
  text-decoration: none;
}

.bodySingup {
  font: 24px "IBM Plex Sans", sans-serif;
  color: #a3be8c;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 700px) {
  .navbar {
    width: 100%;
    background-color: #2e3440;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: inline-block;
    font: 18px system-ui;
    color: #eceff4;
    font-weight: bold;
    width: 140px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }

  .navbarRight {
    list-style: none;
    align-items: right;
  }
  Link .body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .masthead {
    width: 250px;
    height: 190px;
    margin-top: 70px;
    font-family: "IBM Plex Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
  }

  .subtitle {
    width: 250px;
    height: 80px;
    font: 18px "IBM Plex Sans", sans-serif;
    text-align: center;
    margin-bottom: 80px;
  }

  .auth {
    display: flex;
    gap: 70px;
    justify-content: center;
  }
}
