.navbar {
  width: 100%;
  background-color: #2e3440;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.logo {
  display: inline-block;
  font: 18px system-ui;
  color: #eceff4;
  font-weight: bold;
  width: 140px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  text-decoration: none;
}

.navbarRight {
  list-style: none;
  align-items: right;
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.navLogin {
  font: 18px system-ui;
  color: #eceff4;
  background-color: #2e3440;
  border: none;
  text-decoration: none;
  align-self: center;
}

.navSignup {
  font: 18px system-ui;
  color: #eceff4;
  padding: 10px;
  border: #a3be8c;
  border-radius: 5px;
  background-color: #a3be8c;
  text-decoration: none;
}

.navLogout {
  font: 18px system-ui;
  color: #eceff4;
  padding: 10px;
  border: #d08770;
  border-radius: 5px;
  background-color: #d08770;
  text-decoration: none;
}
