/* Deprecated */

body {
  margin: 0;
}

.navbar {
  width: 100%;
  background-color: #2e3440;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoCentered {
  display: inline-block;
  font: 18px system-ui;
  color: #eceff4;
  font-weight: bold;
  width: 140px;
  padding-top: 25px;
  padding-bottom: 25px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.sectionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.sectionHeader {
  font: 30px "IBM Plex Sans", sans-serif;
  margin-top: 60px;
  text-align: left;
  height: 45px;
}

/* Changed to authInput  */
.signInInput {
  width: 350px;
  height: 45px;
  border: 1px solid #2e3440;
  border-radius: 4px;
  color: #4c566a;
  font: 18px "IBM Plex Sans", sans-serif;
}

/*Changed to authInputError*/
.signInInputError {
  width: 350px;
  height: 45px;
  border: 1px solid #2e3440;
  border-radius: 4px;
  color: #ffffff;
  font: 18px "IBM Plex Sans", sans-serif;
  background-color: #bf616a;
}

/*Changed to authMainButton*/
.createAccount {
  width: 350px;
  height: 45px;
  border: 1px solid #a3be8c;
  border-radius: 4px;
  background-color: #a3be8c;
  color: #ffffff;
  font: 18px system-ui, sans-serif;
  font-weight: bold;
  padding: 2px;
}

/* Changed to authSubtitle*/
.signInSubtitle {
  font: 20px "IBM Plex Sans", sans-serif;
  color: #2e3440;
}

/* Changed to authLink*/
.signInLink {
  font: 20px "IBM Plex Sans", sans-serif;
  color: #a3be8c;
  font-weight: bold;
  text-decoration: none;
}

/* changed to authInputError */
.signInErrors {
  font: 16px "IBM Plex Sans", sans-serif;
  color: #bf616a;
  font-weight: bold;
  text-decoration: none;
}
