:root {
  --input-width: 350px;
  --pure-white: #ffffff;
  --off-white: #eceff4;
  --grey: #d8dee9;
  --dark-blue: #2e3440;
  --text: #4c566a;
  --green: #a3be8c;
  --red: #bf616a;
}

.question {
  font: 28px system-ui;
  margin: 0px;
  font-weight: bold;
  margin-bottom: 2px;
}

button {
  all: unset;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  flex-wrap: wrap;
}

.question {
  margin-top: 15px;
}

.closeDate {
  margin-top: 15px;
}

.marketBox {
  font: 16px "IBM Plex Sans", sans-serif;
  color: var(--dark-blue);
  flex-direction: column;
  justify-content: space-between;
  width: min(650px, 75%);
  padding: 10px;
  display: flex;
  margin: 20px;
}

.outcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.outcomeContainer {
  justify-content: flex-end;
  margin-top: 20px;
}

.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.priceYes {
  color: var(--pure-white);
  margin-right: 10px;
  background-color: var(--green);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.priceNo {
  color: var(--pure-white);
  margin-left: 10px;
  background-color: var(--red);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.singleMarketLinkContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.singleMarketLinkSubContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.singleMarketLink {
  margin: 10px;
  background-color: var(--grey);
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: var(--dark-blue);
}

.transactionForm {
  border: 4px solid var(--grey);
  border-radius: 10px;
  padding: 10px;
  font: 16px "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: flex-start;
  width: min(300px, 75%);
}

.activeTransaction {
  font: 20px "system-ui", sans-serif;
  font-weight: bold;
  margin: 10px;
}

.inactiveTransaction {
  font: 20px "system-ui", sans-serif;
  margin: 10px;
}

.orderSection {
  display: flex;
  flex-direction: row;
  align-items: space-around;
}

.orderSubSection {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

input {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  width: max(50%, 75px);
  border-radius: 4px;
  border: 1px solid var(--dark-blue);
}

.orderButton {
  font: 18px system-ui;
  color: var(--pure-white);
  padding: 10px;
  border-radius: 5px;
  background-color: #d08770;
  text-decoration: none;
}
