@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  margin: 0;
}

.navbar {
  width: 100%;
  background-color: #2e3440;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-centered {
  display: inline-block;
  font: 18px system-ui;
  color: #ffffff;
  font-weight: bold;
  width: 140px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sectionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.sectionHeader {
  font: 30px "IBM Plex Sans", sans-serif;
  margin-top: 60px;
  text-align: left;
  width: min(calc(100% - 200px), 350px);
  height: 45px;
}

.logInInput {
  width: min(calc(100% - 200px), 350px);
  height: 45px;
  border: 1px solid #2e3440;
  border-radius: 4px;
  color: #4c566a;
  font: 18px "IBM Plex Sans", sans-serif;
}

.logIn {
  width: min(calc(100% - 200px), 350px);
  height: 45px;
  border: 1px solid #a3be8c;
  border-radius: 4px;
  background-color: #a3be8c;
  color: #ffffff;
  font: 18px system-ui, sans-serif;
  font-weight: bold;
  padding: 2px;
}

.logInForgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 150px;
}

.logInForgetPrompt {
  font: 16px "IBM Plex Sans", sans-serif;
  color: #2e3440;
}

.logInForgetAction {
  font: 16px "IBM Plex Sans", sans-serif;
  color: #a3be8c;
  font-weight: bold;
}

.logInSubtitle {
  font: 20px "IBM Plex Sans", sans-serif;
  color: #2e3440;
}

.logInLink {
  font: 20px "IBM Plex Sans", sans-serif;
  color: #a3be8c;
  font-weight: bold;
}
