@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  margin: 0;
}

.navbar {
  width: 100%;
  background-color: #2e3440;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-centered {
  display: inline-block;
  font: 18px system-ui;
  color: #eceff4;
  font-weight: bold;
  width: 140px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sectionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.sectionHeader {
  font: 30px "IBM Plex Sans", sans-serif;
  margin-top: 60px;
  text-align: left;
  width: min(calc(100% - 200px), 350px);
  height: 45px;
}

.signInInput {
  width: min(calc(100% - 200px), 350px);
  height: 45px;
  border: 1px solid #2e3440;
  border-radius: 4px;
  color: #4c566a;
  font: 18px "IBM Plex Sans", sans-serif;
}

.createAccount {
  width: min(calc(100% - 200px), 350px);
  height: 45px;
  border: 1px solid #a3be8c;
  border-radius: 4px;
  background-color: #a3be8c;
  color: #eceff4;
  font: 18px system-ui, sans-serif;
  font-weight: bold;
  padding: 2px;
}

.signInSubtitle {
  font: 20px "IBM Plex Sans", sans-serif;
  color: #2e3440;
}

.signInLink {
  font: 20px "IBM Plex Sans", sans-serif;
  color: #a3be8c;
  font-weight: bold;
}

/* @media (max-width: 700px) {
} */

/* Old desktop styling*/
/*
.sectionBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 35px;
  width: 750px;
  margin: auto;
}

.sectionHeader {
  font: 30px "IBM Plex Sans", sans-serif;
  margin-top: 60px;
  text-align: left;
  width: calc(2 * 350px);
  height: 45px;
}

.signInInput {
  width: 350px;
  height: 45px;
  border: 1px solid #2e3440;
  border-radius: 4px;
  color: #4c566a;
  font: 18px "IBM Plex Sans", sans-serif;
}

.createAccount {
  width: 350px;
  height: 45px;
  border: 1px solid #a3be8c;
  border-radius: 4px;
  background-color: #a3be8c;
  color: #ECEFF4;
  font: 18px system-ui, sans-serif;
  font-weight: bold;
}

.signInSubtitle {
  font: 20px "IBM Plex Sans", sans-serif;
  color: #2e3440;
  justify-content: center;
  text-justify: center;
  margin-left: 10px;
}

.signInLink {
  font: 20px "IBM Plex Sans", sans-serif;
  color: #a3be8c;
  font-weight: bold;
  justify-content: center;
} */
