spring.data.mongodb.uri=mongodb://localhost
spring.data.mongodb.database=prediction-dev
server.address=localhost
marketCloseIntervalMinutes=1
adminEmail=admin@market.iainschmitt.com
bankEmail=bank@market.iainschmitt.com
#Template this out
server.port=8090
secret={{ secret }}
